#footer__section {
    margin-top: 90px;
    background-color: #f7f7f7;
    padding: 93px 0 95px 0;

    .footer__container {
        .footer__logo {
            display: flex;
            column-gap: 15px;
            padding-bottom: 62px;
            border-bottom: 1px solid #4D4D4D;

            svg {
                fill: $blackColor;
            }

            @media screen and (max-width: 540px) {
                flex-direction: column;
                row-gap: 20px;
            }

            .copyright {
                color: $lightTextColor;
                font-size: 12px;
            }
        }

        .footer__links {
            margin-top: 60px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            @media screen and (max-width: 890px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 40px;
            }

            @media screen and (max-width: 620px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width:430px){
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }

            .footer_link {
                ul {
                    margin-top: 20px;

                    li {
                        margin-top: 15px;

                        a {
                            font-family: $franklinFont;
                            font-size: 14px;
                            font-weight: 400;
                            color: $blackColor;

                            &:hover {
                                border-bottom: 1px solid $blackColor;
                            }
                        }
                    }
                }

                .footer__input {
                    margin-top: 20px;
                    max-width: 221px;
                    position: relative;

                    input {
                        width: 100%;
                        height: 48px;
                        padding: 18px 80px 18px 20px;
                        font-size: 14px;
                        border: none;

                        &::placeholder {
                            font-size: 10px;
                            font-family: $franklinFont;
                            font-weight: 400;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                        }
                    }

                    .footer__btn {
                        .btn {
                            position: absolute;
                            top: 50%;
                            left: 83%;
                            transform: translate(-50%, -50%);
                            padding: 18px 24px;
                            font-family: $franklinFont;
                            font-size: 10px;
                            letter-spacing: 1px;
                            font-weight: 400;
                            background-color: $blackColor;
                            color: #ffffff;
                            cursor: pointer;
                            border: none;
                            transition: .2s ease;

                            &:hover {
                                background-color: #ffffff;
                                color: $blackColor;
                            }
                        }
                    }
                }
            }
        }

        .footer_bottom_links {
            max-width: 600px;
            margin-top: 70px;
            display: flex;
            align-items: flex-start;

            .by {
                margin-top: 25px;
                color: $blackColor;
                font-size: 12px;

                a {
                    color: $blackColor;
                    
                    &:hover {
                        border-bottom: 1px solid $blackColor;
                    }
                }
            }
        }
    }
}